/*selector {
property: value;
}*/
.navabar-inverse {
  background:purple;
}

#intro, #about, #portfolio, #contact {
  height: 31.25em;
  padding-top: 9.5em;
  text-align: center;
}

#intro{
  background:url(https://static.pexels.com/photos/250695/pexels-photo-250695.jpeg);
  background-size:cover;
}

#intro h1 {
  color:white;
}

#about{background:red;}
#portfolio{background:green;}
#contact{background:yellow;}
