/*selector {
property: value;
}*/

#about, #portfolio, #contact {
  height: 31.25em;
  padding-top: 9.5em;
  text-align: center;
}

#about{background:red;}
#portfolio{background:green;}
#contact{background:yellow;}
