/*selector {
property: value;
}*/
.navbar-inverse{
  background:black;
}

#intro, #about, #portfolio, #contact {
height: 31.25em;
padding-top: 9.5em;
text-align: center;
}

#portfolio{
  height: 45em;
}

#intro{
  background:url('https://static.pexels.com/photos/139385/pexels-photo-139385.jpeg');
  background-size:cover; 
}

#intro h1 {
  color:white;
}

.img.circle {
  height: 10em;
  width: 10em;
}

#about {background: blue;}
#portfolio {background: green;}
#contact{background: yellow;} 
