/*selector {
property: value;
}*/
body {
width: 100%; height: 100%;
}
#about, #portfolio, #contact { 
  height: 9.5em;
  padding-top: 9.5em;
  text-align: center; 
}
#about {background: green;} 
#portfolio {background: pink;} 
#contact{background: yellow;}
