/*selector {
property: value;
}*/
.navbar-inverse{
  background:teal;
}
#intro, #about, #portfolio, #contact {
  height: 31.25em;
  padding-top: 9.5em;
  text-align: center;
}

#portfolio {
height:45em;

}


#intro{background:url('https://static.pexels.com/photos/237904/pexels-photo-237904.jpeg');
background-size:cover;
}
#intro h1 {
  color:white;
}
#about{background:teal;}
#portfolio{background:blue;}
#contact{background:yellow;}

