/*selector {
property: value;
}*/
.navbar-inverse{
  background:#26c6da;
}
#intro, #about, #portfolio, #contact {
  height: 31.25em;
  padding-top: 9.5em;
  text-align: center;
}

#portfolio {
height: 57em;

}


#intro{background:url('https://static.pexels.com/photos/237904/pexels-photo-237904.jpeg');
background-size:cover;
}
#intro h1 {
  color:white;
}
#about{background:#b2ebf2;}
#portfolio{background:#80deea;}
#contact{background:#4dd0e1;}

.img-circle {
 height: 10em;
width:10em;

}
