/*selector {
property: value;
}*/
#about, #portfolio, #contact {
  height: 500px;
  padding-top: 150px;
  text-align: center;
}
#about {background: green;}
#portfolio {background: red;}
#contact{background: yellow;}
