/*selector {
property: value;
}*/
.navbar-inverse {
  background:purple;
}

#intro, #about, #portfolio, #contact {
  height: 31.25em;
  padding-top: 9.5em;
  text-align: center;
}

#intro{
  background:url('https://static.pexels.com/photos/26736/pexels-photo.jpg');
  background-size:cover;
}

#intro h1 {
  color:white;
}

#about{background:red;}
#portfolio{background:green;}
#contact{background:yellow;}


